---
import Layout from "../layouts/Layout.astro";
---

<Layout title="slides.ben.page">
  <div class="m-4 text-gray-500 font-medium">
    <p>I built a custom app for making presentations.</p>
    <p>The code is public <a href="htts://github.com/benborgers/slides" class="underline decoration-gray-300">here</a>!</p>
    <br />
    <p>— <a href="https://benborgers.com" class="underline decoration-gray-300">Ben Borgers</p>
  </div>
</Layout>
