---
import Container from "../components/Container.astro";
import Slide from "../components/Slide.astro";
import HStack from "../components/HStack.astro";
import Text from "../components/Text.astro";
import H1 from "../components/H1.astro";
---

<Slide id="intro">
  <H1>JumboCode PM Workshop</H1>
</Slide>

<Slide id="functions">
  <HStack>
    <Container>
      <Text>This is the standard function syntax</Text>
    </Container>
  </HStack>
</Slide>
