---
import PresentationLayout from "../layouts/PresentationLayout.astro";
import Container from "../components/Container.astro";
import Slide from "../components/Slide.astro";
import HStack from "../components/HStack.astro";
import Text from "../components/Text.astro";
import H1 from "../components/H1.astro";
import H2 from "../components/H2.astro";
import Code from "../components/Code.astro";
---

<PresentationLayout title="JumboCode Workshop B">
  <Slide id="intro">
    <H1>JumboCode PM Workshop</H1>
  </Slide>

  <Slide id="functions">
    <H2>JavaScript function syntax</H2>
    <HStack>
      <Container>
        <Code language="js">
          {
            `
function double(number) {
  return number * 2;
}`
          }
        </Code>
        <Text>This is the standard function syntax.</Text>
      </Container>
      <Container>
        <Code language="js">
          {
            `
const double = (number) => {
  return number * 2;
}`
          }
        </Code>
        <Text>We're assigning a function to the constant variable double.</Text>
        <Text>
          These two syntaxes are interchangeable and both widely used.
        </Text>
      </Container>
    </HStack>
  </Slide>

  <Slide id="arrow-functions">
    <H2>Arrow functions</H2>
    <Text>These are equivalent!</Text>
    <Code language="js">
      {
        `
const double = (number) => {
  return number * 2;
}`
      }
    </Code>

    <Code language="js">
      {`const double = (number) => number * 2`}
    </Code>

    <Text>
      (No <code>{`{braces}`}</code> and no <code>return</code> means "return the
      single expression")
    </Text>
  </Slide>
</PresentationLayout>
