---
interface Props {
  id: string;
}

const { id } = Astro.props;
---

<div
  data-slide={id}
  class:list={[
    "w-[1600px] h-[900px] p-12 scale-[var(--scale)] origin-top-left",
    import.meta.env.DEV && "border border-sky-400/20",
  ]}
  {/* JS un-hides the correct slide */}
  style={{ display: "none" }}
>
  {
    /* Not the outermost component so that the JS can switch the outermost component between display: block and display: none */
  }
  <div class="h-full flex items-center">
    <div class="w-full">
      <slot />
    </div>
  </div>
</div>
