<p
  class:list={[
    "text-[3vw] font-medium leading-[1.25] my-[1.5vw]",
    "[&_code]:font-semibold [&_code]:text-[0.95em] [&_code]:bg-gray-950/10 [&_code]:px-[0.1em] [&_code]:rounded-[0.3em]",
  ]}
>
  <slot />
</p>
