<p
  class:list={[
    "text-5xl font-medium leading-[1.25] my-6",
    "[&_code]:font-semibold [&_code]:text-[0.95em] [&_code]:bg-gray-950/10 [&_code]:px-3 [&_code]:rounded-lg",
  ]}
>
  <slot />
</p>
